{% extends "header.html" %}
{% block subheading %} {% endblock %}

{% block content %}
<!-- Post Content-->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ item.author.name }}</a>
                    on {{ item.created_on }}
                </p>
                <div class="container-fluid">
                    {{ item.long_description | safe }}
                </div>
            </div>
        </div>
    </div>
</article>
{% if current_user.is_authenticated and item.author_id == current_user.id %}
<center><a class="btn btn-primary" href="{{ url_for('articles.edit', article_id=item.id) }}">Edit</a></center>
{% endif %}
{% endblock %}